<%- include('partials/header') %>
<%- include('partials/leftMenu') %>

<!-- /.col-lg-3 -->

<div class="col-lg-9">

  <div class="row">
    <div class="col-lg-6">
      <img class="" src="/integration/images/<%= figurine.image %>" alt="">
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            <%= figurine.name %>
            <div class="badge badge-pill badge-<%= figurine.category %>"><%= figurine.category %></div>
          </h3>
          <p class="card-text">Taille réelle : 35cm</p>
          <p class="card-text"><%= figurine.description %></p>
          <p class="card-text">Note moyenne : <%= figurine.average_rating %> <br>
            <a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
          </p>
          <h5>$<%= figurine.price %></h5>
          <p class="card-text">
            <a href="#" class="link-add-bookmarks">+ Ajouter aux favoris</a>
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.col-lg-9 -->

</div>
<!-- /.row -->

</div>
<!-- /.container -->


<%- include('partials/footer') %>
